$media-phone: "only screen and (max-width: 450px)";
$media-desktop: "only screen and (min-width: 450px)";

$modular-scale-ratio: $golden;
$modular-scale-base: 1.2em;

/* @include font-face('source-sans-pro', 'source-sans-pro-regular', normal, $asset-pipeline: true, $file-formats: woff); */

html {
  background: image-url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
	@media #{$media-desktop} {
		@include align-items(center);
		@include display(flex);
		@include justify-content(center);
		height: 100vh;
	}
  
  @media #{$media-phone} {
    @include margin(1em null null null);
  }
	
	.container {
		text-align: center;
    
    .logo {
      .iconic {
        * {
          fill: $dark-gray;
        }
      
        &:hover * {
          @include iconic-color(#00592D);
        }
      }
    }
    
    header {
      @include padding(1.5em);
      
      background-color: rgb(36, 165, 213);
            
  		h1 {
        color: rgb(206, 230, 68);
  			font-size: modular-scale(2);
        
        @media #{$media-phone} {
          font-size: modular-scale(1);
        }
  		}
		
  		h2 {
        color: rgb(243, 87, 120);
  			font-size: modular-scale(1);
  		}
		
  		h1, h2 {
  			padding: 0;
  			margin: 0;
        
        font-weight: 400;
  		}
    }
    
		nav {
      @include margin(1em null null null);
      
			li {
				@include margin(null 10px null 10px);
        
				display: inline;
				font-size: modular-scale(0);
				
				.iconic {
					@include size(modular-scale(1));
					
					* {
						fill: $dark-gray;
					}
					
					&.key:hover * { @include iconic-color($color-9); }
					
					&.facebook:hover * { @include iconic-color(#3c569a); }
					
					&.instagram:hover * { @include iconic-color(#211f20); }
					
					&.google-plus:hover * { @include iconic-color(#df4a32); }
					
					&.github:hover * { @include iconic-color(#333); }
					
					&.twitter:hover * { @include iconic-color(#00b4f3); }
					
					&.tumblr:hover * { @include iconic-color(#34455e); }
					
					&.email:hover * { @include iconic-color($color-1); }
				}
			}
		}
	}
}
