$media-phone: "only screen and (max-width: 450px)";
$media-desktop: "only screen and (min-width: 450px)";

$modular-scale-ratio: $golden;
$modular-scale-base: 1.2em;

html {}

body {
	color: $dark-gray;
	background-color: #FFFFFF;
}

.main {
	@media #{$media-desktop} {
		@include align-items(center);
		@include display(flex);
		@include justify-content(center);
		height: 100vh;
	}
	
	.container {
		text-align: center;
    
    .logo {
      .iconic {
        * {
          fill: $medium-gray;
        }
      
        &:hover * {
          @include iconic-color(#00592D);
        }
      }
    }
    
    header {
      @include padding(1.5em);
      
      background-color: rgb(36, 165, 213);
      
  		h1 {
        color: rgb(206, 230, 68);
  			font-size: modular-scale(2);
  		}
		
  		h2 {
        color: rgb(243, 87, 120);
  			font-size: modular-scale(1);
  		}
		
  		h1, h2 {
  			padding: 0;
  			margin: 0;
        
        font-weight: 400;
        font-family: 'Source Sans Pro', $helvetica;
  		}
    }
	  
		nav {
			@include margin(1em null null null);
			
			li {
				@include margin(null .5em null .5em);
				
				display: inline;
				font-size: modular-scale(0);
				
				@media #{$media-phone} {
					.tumblr, .key {
						display: none;
					}
				}
				
				.iconic {
					@include size(modular-scale(1));
					
					* {
						fill: $medium-gray;
					}
					
					&.key:hover * { @include iconic-color($color-9); }
					
					&.facebook:hover * { @include iconic-color(#3c569a); }
					
					&.instagram:hover * { @include iconic-color(#211f20); }
					
					&.google-plus:hover * { @include iconic-color(#df4a32); }
					
					&.github:hover * { @include iconic-color(#333); }
					
					&.twitter:hover * { @include iconic-color(#00b4f3); }
					
					&.tumblr:hover * { @include iconic-color(#34455e); }
					
					&.email:hover * { @include iconic-color($color-1); }
				}
			}
		}
	}
}
