.svg-icon {
  * {
    fill: $svg-icon-color;
  }

  &:hover {
    * {
      fill: $svg-icon-color-hover;
    }
  }
}

.svg-icon-heart {
  * {
    fill: $svg-icon-heart;
  }

  &:hover {
    * {
      fill: $svg-icon-heart-hover;
    }
  }
}

.svg-icon-coffee {
  * {
    fill: $svg-icon-coffee;
  }

  &:hover {
    * {
      fill: $svg-icon-coffee-hover;
    }
  }
}

.svg-icon-email {
  * {
    fill: $svg-icon-color;
  }

  &:hover {
    * {
      fill: $svg-icon-color-hover;
    }
  }
}

.svg-icon-twitter {
  * {
    fill: $svg-icon-twitter;
  }

  &:hover {
    * {
      fill: $svg-icon-twitter-hover;
    }
  }
}

.svg-icon-facebook {
  * {
    fill: $svg-icon-facebook;
  }

  &:hover {
    * {
      fill: $svg-icon-facebook-hover;
    }
  }
}

.svg-icon-google-plus {
  * {
    fill: $svg-icon-google-plus;
  }

  &:hover {
    * {
      fill: $svg-icon-google-plus-hover;
    }
  }
}

.svg-icon-instagram {
  * {
    fill: $svg-icon-instagram;
  }

  &:hover {
    * {
      fill: $svg-icon-instagram-hover;
    }
  }
}

.svg-icon-github {
  * {
    fill: $svg-icon-github;
  }

  &:hover {
    * {
      fill: $svg-icon-github-hover;
    }
  }
}

.svg-icon-myles-lab {
  * {
    fill: $svg-icon-myles-lab;
  }

  &:hover {
    .svg-icon-myles-lab-liqud {
      fill: $svg-icon-myles-lab-hover-liquid;
    }

    .svg-icon-myles-lab-beaker {
      fill: $svg-icon-myles-lab-hover-beaker;
    }
  }
}

.svg-icon-myles-life {
  * {
    fill: $svg-icon-myles-lab;
  }
  
  .svg-icon-myles-life-bg {
    fill: transparent;
  }

  &:hover {
    .svg-icon-myles-life-bg {
      fill: #fff6eb;
    }

    .svg-icon-myles-life-border {
      fill: #000;
    }

    .svg-icon-myles-life-arrow {
      fill: #ff5173;
      fill-rule: nonzero;
    }

    .svg-icon-myles-life-spinner {
      fill: #000;
    }

    .svg-icon-myles-life-direction {
      fill: #55595c;
    }
  }
}
