// scss-lint:disable NameFormat

$includeClasses: false;

$logo-hover-color: #00592d;

$nav-item-facebook-color: #3c569a;
$nav-item-instagram-color: #211f20;
$nav-item-goolge-plus-color: #df4a32;
$nav-item-github-color: #333;
$nav-item-twitter-color: #00b4f3;
$nav-item-tumblr-color: #34455e;
$nav-item-email-color: #c1b49a;
$nav-itme-key-color: #ab862a;
