.body-index {
  @include retina-image('../images/background', cover, 'jpg');
  
  background-attachment: fixed;
  background-color: $primary-color;
  background-position: center center;
  background-repeat: no-repeat;
}

.page-index {
  @include outer-container;
  
  @include media($desktop) {
    .main {
      @include span-columns(5);
      
      @include display(flex);
      @include align-items(center);
      
      @include background(radial-gradient(lighten($primary-color, 10%), $primary-color));

      height: 100vh;
    }

    .main-wrapper {
      @include margin(0 auto);
    }

    .logo {
      text-align: center;

      svg {
        @include size(10rem);
      }
    }

    .jumbotron {
      color: $white;
      text-align: center;
    }

    h1,
    h2 {
      font-weight: 400;
    }

    h1 {
      margin-bottom: 1rem;
    }

    h2 {
      svg {
        @include size($headings-line-height/1.5 $headings-line-height/1.5);
        vertical-align: middle;
      }
    }

    hr {
      border: 1px solid $primary-color;
    }

    .social,
    .elsewhere {
      ul {
        @extend %list-inline;
        @include margin(0 2rem);
        text-align: center;
      }

      a {
        @include hide-text;

        svg {
          @include size(2rem);
        }
      }
    }
  }
}
